/* Agrega estos estilos a tu archivo CSS o componente de estilo */
.card {
  position: relative;
  margin-bottom: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s ease-in-out;
  background-image: url('../../../assets/fondoCard.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}



.card:hover {
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.card-body {
  text-align: center;
}

.card-imagen {
  margin-left: -1px;
  margin-top: -1px;
  width: 100.7%;
  height: 100%;
  border-radius: 0;
}

.card-title {
  font-size: 1rem;
  margin-bottom: 0.5rem;
}

.card-text {
  color: #000000;
  font-size: 0.7rem;
  text-align: left;
}

.card-descripcion {
  font-size: 0.7rem;
  text-align: justify;
}

.card-fecha {
  color: #000000;
  text-align: left;
  font-size: 0.7rem;
}

.card-texto-centrar {
  margin-left: 45px;
}

.card-enlace {
  color: #000000;
  text-align: left;
  font-size: 0.7rem;
}

.card-icon-enlace {
  color: #000000;
}

.card-image img {
  margin-left: 2px;
  width: auto;
  height: 24px;
  margin-bottom: 2px;
  object-fit: cover;
  /* Ajusta según tus necesidades */
}