.card-title {
    font-size: 1.1rem;
    font-weight: bold;
    margin-bottom: 0.75rem;
    color: #ffffff;
}

.imagen-estilo {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 10px;
}