.Servicios {
    font-family: sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70vh;
    margin-top: 10%;
    margin-bottom: 8%;
  }

  @media (min-width:320px) and (max-width: 359px) {
    .Servicios {
      height: 60vh;
    }
  }

  @media (min-width:360px) and (max-width: 720px) {
    .Servicios {
      height: 70vh;
    }
  }