
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;700&display=swap');


.banner {
    background-color:transparent; 
    padding: 0px 0; 
  }


  /*no definido
  .vision-box, .mision-box {
  background-color: rgba(170, 255, 255, 0.7); 
  padding: 20px; 
  margin-bottom: 20px; 
  border: 1px solid #031214; 
  border-radius: 8px; 
  
  }
  
  .vision-box h2, .mision-box h2 {
    color: #13a2db; 
  }
  
  .vision-box p, .mision-box p {
    color: #040507; 
  }
  
  parte del inicio*/



  
.home{
  width: 100%;
  height: 90%;

}
  .home .content{
    text-align: center;
    padding-top: 100px;
   
}
.home .content h5{
    color: white;
    font-size: 38px;
    font-weight: 550;
    text-shadow: 0px 1px 1px black;
}
.home .content h1{
    color: white;
    font-size: 70px;
    font-weight: 550;
    text-shadow: 0px 1px 1px black;
    margin-top: 5px;
}
.changecontent::after{
    content: ' ';
    color: #128cbd;
    font-family: 'Rubik', sans-serif; 
    animation: changetext 10s infinite linear;
    text-shadow: 0px 1px 1px black, 0px 0px 10px #128cbd;
}
@keyframes changetext{
    0%{content: "  Lo mejor";}
  
    50%{content: "  CRAAMTEC";}
  
    100%{content: "  ..";}
} 

.home .content h5,
.home .content h1 {
    font-family: 'Rubik', sans-serif;
}
.home .content p{
    color: white;
    font-size: 15px;
    font-weight: 600;
    text-shadow: 0px 1px 1px black;
    margin-bottom: 30px;
    margin-top: 5px;
}


.home .content a:hover{
    background: #0e95d3;
    color: white;
}
@media (max-width:850px){
    .home{
        background-position: 50%;
    }
}
@media (max-width:450px){
    .home .content h5{
        font-size: 25px;
    }
    .home .content h1{
        font-size: 38px;
    }
    .home .content p{
        font-size: 13px;
    }
}
/*boton*/



.custom-button {
  --clr: #0FF0FC;
  position: relative;
  background: #444;
  color: #feffff;
  text-decoration: none;
  text-transform: uppercase;
  border: none;
  letter-spacing: 0.1rem;
  font-size: 1rem;
  padding: 1rem 3rem;
  transition: 0.2s;
}

.custom-button:hover {
  letter-spacing: 0.2rem;
  padding: 1.1rem 3.1rem;
  background: var(--clr);
  color: var(--clr);
  animation: box 3s infinite;
}

.custom-button::before {
  content: "";
  position: absolute;
  inset: 2px;
  background: #272822;
}

.custom-button span {
  position: relative;
  z-index: 1;
}

.custom-button i {
  position: absolute;
  inset: 0;
  display: block;
}

.custom-button i::before {
  content: "";
  position: absolute;
  width: 10px;
  height: 2px;
  left: 80%;
  top: -2px;
  border: 2px solid var(--clr);
  background: #272822;
  transition: 0.2s;
}

.custom-button:hover i::before {
  width: 15px;
  left: 20%;
  animation: move 3s infinite;
  border-color: #00ffea; /* Añade el color neon al borde en hover */
}

.custom-button i::after {
  content: "";
  position: absolute;
  width: 10px;
  height: 2px;
  left: 20%;
  bottom: -2px;
  border: 2px solid var(--clr);
  background: #272822;
  transition: 0.2s;
}

.custom-button:hover i::after {
  width: 15px;
  left: 80%;
  animation: move 3s infinite;
  border-color: #00ffea; /* Añade el color neon al borde en hover */
}

@keyframes move {
  0% {
    transform: translateX(0);
  }

  50% {
    transform: translateX(5px);
  }

  100% {
    transform: translateX(0);
  }
}

@keyframes box {
  0% {
    box-shadow: #27272c;
  }

  50% {
    box-shadow: 0 0 25px var(--clr);
  }

  100% {
    box-shadow: #27272c;
  }
}