

/*este codino no modificar */
.app-container {
  position: fixed;
  bottom: 0;
  width: 100%;
}
/*elimina el scroll*/

.footer {
  background: linear-gradient(to right, rgba(12, 29, 41, 0.8), rgba(1, 41, 36, 0.8)); /* Usa rgba para agregar transparencia */
 
 border-radius: 5px;
/* Cambia los colores del degradado según tus preferencias */
  color: #fff;
  padding: 15px;
  text-align: center;
  /* Añade un borde superior */
  
}

.txt {
  position: relative;
  top: 10px;
  font-size: 16px; /* Ajusta el tamaño de la fuente según tus necesidades */
  font-weight: bold;
}
/*estoy realizando modificaciones ne el footer*/
