
.footerA {
  margin-top: auto;
  position: relative;
  width: 100%;
  background: linear-gradient(to right, rgba(12, 29, 41, 0.8), rgba(1, 41, 36, 0.8));
  border-radius: 5px;
  color: #fff;
  padding: 15px;
  text-align: center;
}


.txt {
  position: relative;
  top: 10px;
  font-size: 16px;
  /* Ajusta el tamaño de la fuente según tus necesidades */
  font-weight: bold;
}