.app-container {
  position: fixed;
  bottom: 0;
  width: 100%;
}

.footer {
  background: linear-gradient(to right, rgba(6, 62, 100, 0.8), rgba(3, 34, 30, 0.8)); /* Usa rgba para agregar transparencia */
 
 border-radius: 5px;
/* Cambia los colores del degradado según tus preferencias */
  color: #fff;
  padding: 20px;
  text-align: center;
  /* Añade un borde superior */
  
}

.txt {
  position: relative;
  top: 10px;
  font-size: 16px; /* Ajusta el tamaño de la fuente según tus necesidades */
  font-weight: bold;
}