/* Estilos para hacer la barra de navegación */
/* src/styles/HeaderBostrap.css */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  scroll-behavior: smooth;
  font-family: 'Lato', sans-serif;
}

.header-container {
  
  position: fixed;

  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: linear-gradient(to right, #0a1c2c, #172c3f, #32475b);
  animation: gradientAnimation 10s linear infinite; 

}
@keyframes gradientAnimation {
  0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 100% 50%;
  }
}
.navbar {
  display: flex;
  justify-content: space-between;
  padding: 15px 30px; /* Ajusta el espaciado según tus necesidades */
  align-items: center;
}


  .navbar-nav {
    margin-left: auto;
  }

  .navbar-brand {
    color: #e2e2e2; 
    font-weight: bold;
    margin-right: 30px; 
    
  }
  .navbar-brand img {
    width: 70px; 
    height: auto; 
   
    
  }
  .navbar-nav .nav-link {
    color: #00abf0 !important; 
    margin-right: 15px;  
    font-weight: bold;
    font-family: 'CentraMedium', sans-serif;
}
.nav-item .nav-link:hover{
  background: #060c13;
  border-radius: 3px;
  transition: 0.5s ease;
  letter-spacing: 1px;
}
  .navbar-nav .nav-link.active {
    color: #e8f1ef !important; 
  }
  

  .container {
    margin-top: 9px; 
  }
  
  
  .navbar-toggler{
    background-color: #e8f1ef
  }
  body{
    background-color: #64adec;
    margin: 0;
  }
 